// init
$page-top-height: 58px;
$color-title: #666;
$navbar-width: 235px;
$color-title-portlet: black;
$font-size-12: 12px;
$color-default: #ee3b48;


.blockUI.blockOverlay{
  z-index: 99999 !important;
}
.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}
.padding-20 {
  padding: 20px !important;
}
.padding-25 {
  padding: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.margin-0 {
  padding: 0px !important;
}

.margin-5 {
  padding: 5px !important;
}

.margin-10 {
  padding: 10px !important;
}

.margin-15 {
  padding: 15px !important;
}
.margin-20 {
  margin: 20px !important;
}
.margin-25 {
  margin: 25px !important;
}

.margin-30 {
  padding: 30px !important;
}

.padding-top-0 {
  padding-top: 0px !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-top-15 {
  padding-top: 15px !important;
}
.padding-top-20 {
  padding-top: 20px !important;
}
.padding-top-25 {
  padding-top: 25px !important;
}
.padding-top-30 {
  padding-top: 30px !important;
}

.padding-right-0 {
  padding-right: 0px !important;
}

.padding-right-5 {
  padding-right: 5px !important;
}

.padding-right-10 {
  padding-right: 10px !important;
}

.padding-right-15 {
  padding-right: 15px !important;
}
.padding-right-20 {
  padding-right: 20px !important;
}
.padding-right-25 {
  padding-right: 25px !important;
}
.padding-right-30 {
  padding-right: 30px !important;
}

.padding-bottom-0 {
  padding-bottom: 0px !important;
}

.padding-bottom-5 {
  padding-bottom: 5px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-bottom-15 {
  padding-bottom: 15px !important;
}
.padding-bottom-20 {
  padding-bottom: 20px !important;
}
.padding-bottom-25 {
  padding-bottom: 25px !important;
}
.padding-bottom-30 {
  padding-bottom: 30px !important;
}

.padding-left-0 {
  padding-left: 0px !important;
}

.padding-left-5 {
  padding-left: 5px !important;
}

.padding-left-10 {
  padding-left: 10px !important;
}

.padding-left-15 {
  padding-left: 15px !important;
}
.padding-left-20 {
  padding-left: 20px !important;
}
.padding-left-25 {
  padding-left: 25px !important;
}
.padding-left-30 {
  padding-left: 30px !important;
}

.margin-top-0 {
  margin-top: 0px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}
.padding-top-20 {
  padding-top: 20px !important;
}
.padding-top-25 {
  padding-top: 25px !important;
}
.margin-top-30 {
  margin-top: 30px !important;
}

.margin-right-0 {
  margin-right: 0px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}
.padding-right-20 {
  padding-right: 20px !important;
}
.padding-right-25 {
  padding-right: 25px !important;
}
.margin-right-30 {
  margin-right: 30px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}
.padding-bottom-20 {
  padding-bottom: 20px !important;
}
.padding-bottom-25 {
  padding-bottom: 25px !important;
}
.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-left-0 {
  margin-left: 0px !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}
.padding-left-20 {
  padding-left: 20px !important;
}
.padding-left-25 {
  padding-left: 25px !important;
}
.margin-left-30 {
  margin-left: 30px !important;
}
.width-100{
  width: 100%;
}
::-webkit-scrollbar {
  width: 5px;
  height: 10px;    
}

::-webkit-scrollbar-track {
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background: #999;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

::-webkit-scrollbar-thumb:horizontal {
  height: 5px;
}

.not-click {
  pointer-events: none;
}
.theme-custom {
  background: #e7ecf1;
  .page-content {
    background: #e7ecf1;
  }

  .form-control {
    font-size: $font-size-12;
    height: 30px;
    border-radius: 0px;
  }

  .page-sidebar {
    z-index: 99;
    height: 100vh !important;

    // .page-sidebar-menu{
    //   height: 85vh !important;
    //   overflow: auto !important;
    // }

    #scroll-sidebar{
      .fa {
        font-size: 14px;
      }
    }

    #scroll-sidebar.scroll {
      overflow-y: auto !important;
      height: calc(100vh - 80px) !important;
    }

    #scroll-sidebar:not(.scroll) {
      li:last-child {
        border-bottom: 1px solid #ccc;
      }

      >li {
        border-right: 1px solid #ccc;
        border-top: 1px solid #ccc;

        >a {
          border-radius: 0px 0px 0px 0px;
        }
      }

      ul.sub-menu {
        max-height: 400px;
        overflow-y: auto;
        border: 1px solid #ccc;
        border-top: 0px;
        background: #fff;
        box-shadow: #ccc 1px 4px 4px;
      }

      .icon-cap3 {
        display: none;
      }

    }

    .page-sidebar-menu>li.active.open>a, .page-sidebar-menu>li.active>a{
      background-color: $color-default;
    }
    .page-sidebar-menu>li.active>a:hover{
      background-color: $color-default;
    }

    .page-sidebar-menu.page-sidebar-menu-closed>li:hover {
      box-shadow: none;
    }

    @media (min-width: 992px) {
      position: fixed;
      width: $navbar-width;
    }

    .page-sidebar-menu>li.active>a>.selected {
      border-right: 8px solid #eef1f5;
    }

    .page-sidebar-menu.page-sidebar-menu-compact>li>a {
      padding: 8px 15px 8px 15px;
      font-size: 13px;
    }

    .page-sidebar-menu.page-sidebar-menu-compact>li>a>.title {
      font-weight: 600;
    }

    .page-sidebar-menu .sub-menu>li.active>a {
      background: #ddd !important;
    }

    .page-sidebar-menu li>a>i {
      margin-right: 0px;
    }

    .page-sidebar-menu.page-sidebar-menu-compact>li>.sub-menu>li>a {
      padding-left: 40px;
      font-weight: 500;
    }

    .page-sidebar-menu .sub-menu li>.sub-menu>li>a {
      padding-left: 50px;
    }

    .page-sidebar-menu .sub-menu li>a {
      padding: 6px 15px !important;
      font-size: $font-size-12;
    }

    .page-sidebar-menu .sub-menu {
      margin: 0px;
    }

    .page-sidebar-menu {
      a.nav-link.disabled {
        background-color: lightgrey;
      }
    }
  }

  .page-container {
    margin-top: $page-top-height;

    .page-content {
      @media (min-width: 992px) {
        margin-left: $navbar-width;
      }
    }
  }

  .page-header.navbar {
    height: $page-top-height;
    min-height: $page-top-height;

    .page-logo {
      height: $page-top-height;
      background: $color-default;
      position: relative;

      @media (min-width: 992px) {
        width: $navbar-width;
      }

      a {
        display: block;
        img {
          margin: 5px 0;
        }
      }
    }

    .menu-toggler.sidebar-toggler {
      opacity: 1;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      margin-right: 15px;
    }

    .page-top {
      height: $page-top-height;
      background-color: #fff;
      border-bottom: 1px solid $color-default;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .18);
    }

    .page-top-title {
      span {
        color: $color-default;
        margin-top: 15px;
        margin-left: 20px;
        font-size: 26px;
      }

      h5 {
        color: $color-default;
        font-size: 16px;
      }

      h6 {
        color: #333;
      }
    }

    .top-menu {
      .navbar-nav>li.dropdown {
        height: $page-top-height;
      }

      .navbar-nav>li.dropdown-user .dropdown-toggle {
        padding: 19px 12px 18px 12px;
      }

      .navbar-nav>li.dropdown .dropdown-menu {
        margin-top: 0;
        width: 260px;
      }

      .navbar-nav>li.dropdown-user .dropdown-toggle>.username {
        font-size: $font-size-12;
      }

      .navbar-nav>li.dropdown-user .dropdown-menu>li>a {
        font-size: $font-size-12;
      }
    }
  }

  .dropdown-menu {
    font-size: $font-size-12;
  }

  .portlet {
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.03);
  }
  .select2-container--bootstrap .select2-results__option--highlighted[aria-selected]{
    background-color: $color-default;
  }
  .select2-container--bootstrap .select2-results__option[aria-selected=true]{
    background-color: $color-default;
  }
  

}
.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .menu-toggler.sidebar-toggler {
  margin-right: auto;
}


@media (min-width: 768px) {
  .modal-dialog {
    margin: 93px auto 50px auto;
  }
}


.modal {
  .modal-header {
    padding: 10px 15px;
  }

  .modal-content {
    .modal-title {
      font-weight: 600;
      color: #666;
      font-size: 16px;
    }

    .form-actions {
      padding-top: 15px;
      border-top: 1px solid #EFEFEF;
    }
  }
}

.help-block {
  font-size: 13px;
}

//end init theme
//custom thêm


.portlet.light.bordered {
  padding-bottom: 5px;
  box-shadow: none;
  min-height: calc(100vh - 80px) !important;
}

.portlet.light {
  padding-top: 0;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;

  .portlet-title {
    min-height: unset;

    .caption {
      padding: 10px 15px;
    }

    .caption-subject {
      font-size: 14px !important;
    }
  }

  .portlet-body {
    padding: 0px 15px;

    .page-title-action {
      display: flex;
      justify-content: flex-end;
      margin-bottom: -30px;
      margin-right: 15px;

      button,
      div {
        z-index: 1;
      }
    }

    .form-actions {
      padding-top: 5px;
    }
  }
}

.form-horizontal {
  .control-label {
    text-align: left;
    padding-bottom: 5px;
    min-height: 18px;
  }

  .has-error {
    position: relative;
    .help-block-error{
      position: absolute;
     bottom: -25px;
   }
    label {
      color: black;
    }
    .note-editor {
      border: 1px solid #e73d4a !important;
    }    
  }
  .help-block {
    font-size: $font-size-12;
  }
}

.table-advance {
  thead {
    tr {
      background: #f1f4f7;

      th {
        font-weight: 600;
        background: #f1f4f7;
        vertical-align: middle;
        font-size: $font-size-12;
      }
    }
  }

  tbody {
    tr {
      td {
        vertical-align: middle;
        font-size: $font-size-12;
      }
    }

    .btn-xs {
      border: 1px solid #999;
    }

    div.tooltipster {
      padding: 5px;
      margin: -5px;
    }
  }
}

@media (min-width: 992px) {
  .page-content-wrapper .page-content {
    padding: 4px;
  }
}

.portlet>.portlet-title {
  margin-bottom: 0px;
}

.panel {
  margin-bottom: 5px;
}

.panel-body {
  padding: 5px;
  font-size: 12px !important;
}

.form-group {
  margin-bottom: 25px;
}

.portlet-title {
  border-bottom: 0 !important;
}

//tiêu đề tab
.nav-pills>li>a,
.nav-tabs>li>a {
  font-size: $font-size-12;
}

.mt-checkbox {
  font-size: $font-size-12;
  padding-left: 25px;
}

small {
  font-size: $font-size-12;
}
.table-scrollable{
  border: none;
  margin: 0 !important;
}
.canvasjs-chart-tooltip{
  b{
    display: block;
  }
}

.datatable-drag{
  cursor: move;
}

.modal-title-close2{
  position: absolute;
    right: 13px;
    color: #ccc;
    top: 13px;
    cursor: pointer;
    font-size: 10px;
    &:hover{
      color: #999;
    }
}
.content-scroll {
  min-height: 70vh;
  max-height: 70vh;
  overflow: auto;
}