.blockUI.blockOverlay {
  z-index: 99999 !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-30 {
  padding: 30px !important;
}

.margin-0 {
  padding: 0px !important;
}

.margin-5 {
  padding: 5px !important;
}

.margin-10 {
  padding: 10px !important;
}

.margin-15 {
  padding: 15px !important;
}

.margin-30 {
  padding: 30px !important;
}

.padding-top-0 {
  padding-top: 0px !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-top-15 {
  padding-top: 15px !important;
}

.padding-top-30 {
  padding-top: 30px !important;
}

.padding-right-0 {
  padding-right: 0px !important;
}

.padding-right-5 {
  padding-right: 5px !important;
}

.padding-right-10 {
  padding-right: 10px !important;
}

.padding-right-15 {
  padding-right: 15px !important;
}

.padding-right-30 {
  padding-right: 30px !important;
}

.padding-bottom-0 {
  padding-bottom: 0px !important;
}

.padding-bottom-5 {
  padding-bottom: 5px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-bottom-15 {
  padding-bottom: 15px !important;
}

.padding-bottom-30 {
  padding-bottom: 30px !important;
}

.padding-left-0 {
  padding-left: 0px !important;
}

.padding-left-5 {
  padding-left: 5px !important;
}

.padding-left-10 {
  padding-left: 10px !important;
}

.padding-left-15 {
  padding-left: 15px !important;
}

.padding-left-30 {
  padding-left: 30px !important;
}

.margin-top-0 {
  margin-top: 0px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-right-0 {
  margin-right: 0px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.margin-right-30 {
  margin-right: 30px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-left-0 {
  margin-left: 0px !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-left-30 {
  margin-left: 30px !important;
}

.theme-custom .page-content {
  background: #e7ecf1;
}

.theme-custom .form-control {
  font-size: 12px;
  height: 30px;
  border-radius: 0px;
}

.theme-custom .page-sidebar {
  z-index: 99;
}

.theme-custom .page-sidebar #scroll-sidebar .fa {
  font-size: 14px;
}

.theme-custom .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed > li:hover {
  box-shadow: none;
}

.theme-custom .page-sidebar #scroll-sidebar.scroll {
  overflow-y: auto !important;
  height: calc(100vh - 80px) !important;
}

.theme-custom .page-sidebar #scroll-sidebar:not(.scroll) li:last-child {
  border-bottom: 1px solid #ccc;
}

.theme-custom .page-sidebar #scroll-sidebar:not(.scroll) > li {
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.theme-custom .page-sidebar #scroll-sidebar:not(.scroll) > li > a {
  border-radius: 0px 0px 0px 0px;
}

.theme-custom .page-sidebar #scroll-sidebar:not(.scroll) ul.sub-menu {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-top: 0px;
  background: #fff;
  box-shadow: #ccc 1px 4px 4px;
}

.theme-custom .page-sidebar #scroll-sidebar:not(.scroll) .icon-cap3 {
  display: none;
}

.theme-custom .page-sidebar ul::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.theme-custom .page-sidebar ul::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.01);
  border: 1px solid #ccc;
}

.theme-custom .page-sidebar ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(to left, #fff, #ccc);
  border: 1px solid #aaa;
}

.theme-custom .page-sidebar ul::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to left, #fff, #ccc);
}

.theme-custom .page-sidebar ul::-webkit-scrollbar-thumb:active {
  background: linear-gradient(to left, #fff, #ccc);
}

@media (min-width: 992px) {
  .theme-custom .page-sidebar {
    position: fixed;
    width: 235px;
  }
}

.theme-custom .page-sidebar .page-sidebar-menu > li.active > a > .selected {
  border-right: 8px solid #eef1f5;
}

.theme-custom .page-sidebar .page-sidebar-menu.page-sidebar-menu-compact > li > a {
  padding: 8px 15px 8px 15px;
  font-size: 13px;
}

.theme-custom .page-sidebar .page-sidebar-menu.page-sidebar-menu-compact > li > a > .title {
  font-weight: 600;
}

.theme-custom .page-sidebar .page-sidebar-menu .sub-menu > li.active > a {
  background: #adddcd !important;
}

.theme-custom .page-sidebar .page-sidebar-menu li > a > i {
  margin-right: 0px;
}

.theme-custom .page-sidebar .page-sidebar-menu.page-sidebar-menu-compact > li > .sub-menu > li > a {
  padding-left: 40px;
  font-weight: 500;
}

.theme-custom .page-sidebar .page-sidebar-menu .sub-menu li > .sub-menu > li > a {
  padding-left: 50px;
}

.theme-custom .page-sidebar .page-sidebar-menu .sub-menu li > a {
  padding: 6px 15px !important;
  font-size: 12px;
}

.theme-custom .page-sidebar .page-sidebar-menu .sub-menu {
  margin: 0px;
}

.theme-custom .page-sidebar .page-sidebar-menu a.nav-link.disabled {
  background-color: lightgrey;
}

.theme-custom .page-container {
  margin-top: 58px;
}

@media (min-width: 992px) {
  .theme-custom .page-container .page-content {
    margin-left: 235px;
  }
}

.theme-custom .page-header.navbar {
  height: 58px;
  min-height: 58px;
}

.theme-custom .page-header.navbar .page-logo {
  height: 58px;
  background: #00a376;
  position: relative;
}

@media (min-width: 992px) {
  .theme-custom .page-header.navbar .page-logo {
    width: 235px;
  }
}

.theme-custom .page-header.navbar .page-logo a {
  display: block;
}

.theme-custom .page-header.navbar .page-logo a img {
  margin: 5px 0;
}

.theme-custom .page-header.navbar .menu-toggler.sidebar-toggler {
  opacity: 1;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-right: 15px;
}

.theme-custom .page-header.navbar .page-top {
  height: 58px;
  background-color: #fff;
  border-bottom: 1px solid #00a376;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18);
}

.theme-custom .page-header.navbar .page-top-title span {
  color: #00a376;
  margin-top: 15px;
  margin-left: 20px;
  font-size: 26px;
}

.theme-custom .page-header.navbar .page-top-title h5 {
  color: #00a376;
  font-size: 16px;
}

.theme-custom .page-header.navbar .page-top-title h6 {
  color: #333;
}

.theme-custom .page-header.navbar .top-menu .navbar-nav > li.dropdown {
  height: 58px;
}

.theme-custom .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
  padding: 19px 12px 18px 12px;
}

.theme-custom .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu {
  margin-top: 0;
  width: 260px;
}

.theme-custom .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle > .username {
  font-size: 12px;
}

.theme-custom .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-menu > li > a {
  font-size: 12px;
}

.theme-custom .dropdown-menu {
  font-size: 12px;
}

.theme-custom .portlet {
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.03);
}

.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .menu-toggler.sidebar-toggler {
  margin-right: auto;
}

@media (min-width: 768px) {
  .modal-dialog {
    margin: 93px auto 50px auto;
  }
}

.modal .modal-header {
  padding: 10px 15px;
}

.modal .modal-content .modal-title {
  font-weight: 600;
  color: #666;
  font-size: 16px;
}

.modal .modal-content .form-actions {
  padding-top: 15px;
}

.help-block {
  font-size: 13px;
}

.portlet.light.bordered {
  padding-bottom: 5px;
  box-shadow: none;
  min-height: calc(100vh - 80px) !important;
}

.portlet.light {
  padding-top: 0;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 5px;
}

.portlet.light .portlet-title {
  min-height: unset;
}

.portlet.light .portlet-title .caption {
  padding: 10px 15px;
}

.portlet.light .portlet-title .caption-subject {
  font-size: 14px !important;
}

.portlet.light .portlet-body {
  padding: 0px 15px;
}

.portlet.light .portlet-body .page-title-action {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -30px;
  margin-right: 15px;
}

.portlet.light .portlet-body .page-title-action button,
.portlet.light .portlet-body .page-title-action div {
  z-index: 1;
}

.portlet.light .portlet-body .form-actions {
  padding-top: 5px;
}

.form-horizontal .control-label {
  text-align: left;
  padding-bottom: 5px;
  min-height: 18px;
}

.form-horizontal .has-error {
  position: relative;
}

.form-horizontal .has-error .help-block-error {
  position: absolute;
  bottom: -25px;
}

.form-horizontal .has-error label {
  color: black;
}

.form-horizontal .has-error .note-editor {
  border: 1px solid #e73d4a !important;
}

.form-horizontal .help-block {
  font-size: 12px;
}

.table-advance thead tr {
  background: #f1f4f7;
}

.table-advance thead tr th {
  font-weight: 600;
  background: #f1f4f7;
  vertical-align: middle;
  font-size: 12px;
}

.table-advance tbody tr td {
  vertical-align: middle;
  font-size: 12px;
}

.table-advance tbody .btn-xs {
  border: 1px solid #999;
}

.table-advance tbody div.tooltipster {
  padding: 5px;
  margin: -5px;
}

@media (min-width: 992px) {
  .page-content-wrapper .page-content {
    padding: 4px;
  }
}

.portlet > .portlet-title {
  margin-bottom: 0px;
}

.panel {
  margin-bottom: 5px;
}

.panel-body {
  padding: 5px;
  font-size: 12px !important;
}

.form-group {
  margin-bottom: 25px;
}

.portlet-title {
  border-bottom: 0 !important;
}

.nav-pills > li > a,
.nav-tabs > li > a {
  font-size: 12px;
}

.mt-checkbox {
  font-size: 12px;
  padding-left: 25px;
}

small {
  font-size: 12px;
}

.table-scrollable {
  border: none;
  margin: 0 !important;
}

.canvasjs-chart-tooltip b {
  display: block;
}
