<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
  <!-- BEGIN LOGO -->
  <div class="page-logo text-center">
    <a ng-click="gotoHome()"><img src="{{$settings.imgPath}}/siten_logo.png" height="50" class="logo-default" /></a>
    <div class="menu-toggler sidebar-toggler" ng-click="toggleSidebar()">
      <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
    </div>
  </div>
  <!-- END LOGO -->
  <!-- BEGIN RESPONSIVE MENU TOGGLER -->
  <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
  </a>
  <!-- END RESPONSIVE MENU TOGGLER -->
  <!-- BEGIN PAGE TOP -->
  <div class="page-top-title hidden-xs hidden-sm pull-left padding-left-15">
    <h6 class="bold uppercase margin-bottom-0">Mô tả dự án</h6>
    <h5 class="bold uppercase margin-bottom-0  margin-top-5">Mô tả chi tiết dự án</h5>
    
  </div>
  <div class="page-top">
    <!-- BEGIN TOP NAVIGATION MENU -->
    <div class="top-menu">
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown dropdown-user">
          <a href="#" class="dropdown-toggle" dropdown-menu-click data-toggle="dropdown" data-close-others="true">
            <img alt="" class="img-circle" src="{{$settings.imgPath}}/users/user.png" height="24"/>
            <span class="username">{{MyInfo.userInfo.account}}</span>
            <i class="fa fa-angle-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-default">
            <div style="padding: 15px">
              <div class="caption-subject font-green-sharp bold margin-bottom-10">
                Tên đăng nhập
              </div>
              <div class="caption-subject font-blue-oleo margin-bottom-10">
                Vai trò - gmail
              </div>

            </div>
            <li style="border-top: 1px solid #e7ecf1;">
              <a >
                <i class="fa fa-edit"></i> Cập nhật thông tin </a>
            </li> 
             <li style="border-top: 1px solid #e7ecf1;">
              <a ng-click="changePass()">
                <i class="fa fa-lock"></i> Đổi mật khẩu </a>
            </li> 
           
            <li style="border-top: 1px solid #e7ecf1;">
              <a ng-click="logout()">
                <i class="fa fa-key"></i> {{MyInfo.language.logout}} </a>
            </li>
          </ul>
        </li>
        <!-- END USER LOGIN DROPDOWN -->
        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
        <!-- END USER LOGIN DROPDOWN -->
      </ul>
    </div>
    <!-- END TOP NAVIGATION MENU -->
  </div>
  <!-- END PAGE TOP -->

</div>
<!-- END HEADER INNER -->



